<section class="product">
  
  <p class="name">
    <%= product.name %>
  </p>

  <p class="price">
    <%= number_to_currency product.price %>
  </p>

  <%= if product.image_filename != '' then image_tag product.image_filename , {height: 150} end %>


  <div class="description">
    <%= product.description %>
  </div>
  <% if product.category %>
    <p>
      <strong>Category:</strong> <%= product.category.name %>
    </p>
  <% end %>
</section>