<section class="product">
  
  <p class="name">
    <%= link_to product.name, single_product_path(product) %>
  </p>

  <% if product.image_filename != '' %> 
    <p class="image">
      <%= image_tag product.image_filename, {height: 150} %>
    </p>
  <% else %>
    <p class="no_image">No Image Available.</p>  
  <% end %>

  <p class="price">
    <strong>Price:</strong> <%= number_to_currency product.price %>
  </p>

  <% if product.category %>
    <p>
      <strong>Category:</strong> <%= product.category.name %>
    </p>
  <% end %>

  <%= render partial: "shopping", :locals => {:product => product} %>
  
</section>