<h1>CHECKOUT</h1>

<p>Enter your information below:</p>

<%= form_tag(order_path) do %>
  <ul>
  	<li>
	  <%= label_tag(:first_name, "First name:") %>
	  <%= text_field_tag(:first_name) %>
  	</li>
  	<li>
	  <%= label_tag(:last_name, "Last name:") %>
	  <%= text_field_tag(:last_name) %>
  	</li>
  	<li>
	  <%= label_tag(:address, "Address:") %>
	  <%= text_field_tag(:address) %>
  	</li>
  	<li>
	  <%= label_tag(:city, "City:") %>
	  <%= text_field_tag(:city) %>
  	</li>
  	<li>
	  <%= label_tag(:province, "Province:") %>
	  <%= text_field_tag(:province) %>
  	</li>
  	<li>
	  <%= label_tag(:postal_code, "Postal Code:") %>
	  <%= text_field_tag(:postal_code) %>
  	</li>
  	<li>
	  <%= label_tag(:email, "Email:") %>
	  <%= text_field_tag(:email) %>
  	</li>
  </ul>
  <input type="submit" value="Create Order" class="buttons">
<% end %>