<!DOCTYPE html>
<html>
<head>
  <title>Turn the Page</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	<h1>Turn The Page</h1>

	<div class="search">
		<%= render 'search' %>
	</div>

	<nav>
		<ul>
			<li><%= link_to 'Home', home_path %></li>
			<li>Shop</li>
			<li><%= link_to "About Us", contact_path %></li>	
		</ul>
	</nav>

<%= yield %>

</body>

</html>
